
@{
    ViewBag.Title = "Index";
}
<img src="~/Content/img/baby-yoda-craze.jpg" width="800" style="max-width:100%" />
<h2>Index</h2>
Index @DateTime.Now

@{
    var order = "";

}
<div class="row">
    <div class="col-4">
        @Ajax.ActionLink("Name Sort", "ProjectCards", "AllProjects", new { sortOrder = "Name" }, new AjaxOptions
            {

                HttpMethod = "GET",
                UpdateTargetId = "test",
                InsertionMode = InsertionMode.Replace

            })
        
    </div>
    <div class="col-4">
        @Ajax.ActionLink("ID Sort", "ProjectCards", "AllProjects", new { sortOrder = "Id" }, new AjaxOptions
            {

                HttpMethod = "GET",
                UpdateTargetId = "test",
                InsertionMode = InsertionMode.Replace

            })
        
    </div>
    <div class="col-4">
        @Ajax.ActionLink("Status", "ProjectCards", "AllProjects", new { sortOrder = "Status" }, new AjaxOptions
            {

                HttpMethod = "GET",
                UpdateTargetId = "test",
                InsertionMode = InsertionMode.Replace

            })
        
    </div>
</div>


<div id="test">

    @{
        Html.RenderAction("ProjectCards", "AllProjects", new { sortOrder = order });
    }

</div>