
@{
    ViewBag.Title = "AltLayout Index";
}

<h2>Alt Layout</h2>

@section Left { 
    <div>This goes in the left bit</div>
}
@section Right {
    <div>
        This goes in the Right bit
    </div>
    }