
@{
    ViewBag.Title = "AltLayout Index";
}

<h2>Alt Layout</h2>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->

@section Left {
    <div>This goes in the left bit</div>
}

@section Right {
    <div>
        This goes in the Right bit
    </div>
}